<div 
    class="container flex flex-col"
>
    <div 
        class="py-2 px-2 flex flex-row items-center space-x-4 bg-gray-300 dark:bg-gray-700 w-80 fixed"
    >
        <!-- Button for back -->
        <button 
            class="py-2 px-2 hover:bg-gray-100 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
            (click)="sendBack()"
        >
            <svg 
                class="h-4 w-4 text-blue-800 dark:text-white" 
                fill="currentColor" 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 320 512"
            >
                <path 
                    d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
                />
            </svg>
        </button>
        <span 
            class="text-sm text-capitalize text-gray-600 dark:text-gray-300"
        >
            Profile
        </span>
    </div>

    <p 
        class="text-lg text-gray-600 dark:text-white pt-5 pl-6"
    >
        Your Profile
    </p>

    <div 
        class="animate__animated animate__slideInLeft mt-16 flex flex-col items-center relative"
    >

        <!-- Div for user with profle-->
        <div 
            class="rounded-full bg-gray-700 h-32 w-32"
            *ngIf="loading"
        ></div>

        <div
            *ngIf="hasProfilePicture && !loading"
        >
            <img 
            src="{{userDetails.profilePicture}}" 
            class="h-32 w-32 rounded-full animate__animated animate__backInDown" 
            alt=""            
        >

        <form enctype="multipart/form-data">
            <!-- File input for profile picture -->
            <input 
                type="file" 
                name="profilePix" 
                style="display:none;" 
                (change)="onFileSelected($event)" 
                #fileUpload
            >
        </form>


        <div 
            class="absolute top-0 bottom-0 h-32 w-32 rounded-full animate__animated animate__backInDown profile-pix flex justify-center cursor-pointer"
            (click)="fileUpload.click()"
        >
            <button 
                class="py-2 px-3 edit-profile-pix text-transparent focus:outline-0 active:outline-0"
            >
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 512 512"
                >
                    <path 
                        d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"
                    />
                </svg>
            </button>
        </div>
    </div>

        <!-- Div for no profile-->
        <div 
            *ngIf="!hasProfilePicture && !loading"
            class="relative w-32 h-32 profile-pix overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600"
        >
            <svg 
                class="absolute w-36 h-36 text-gray-400 -left-2" 
                fill="currentColor" 
                viewBox="0 0 20 20" 
                xmlns="http://www.w3.org/2000/svg"
            >
                <path 
                    fill-rule="evenodd" 
                    d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" 
                    clip-rule="evenodd"
                />
            </svg>

            <!-- File input for profile picture -->
            <input 
                type="file" 
                name="profilePix" 
                style="display:none;" 
                (change)="onFileSelected($event)" 
                #fileUpload
            >
            <div 
                class="absolute top-0 bottom-0 h-32 w-32 rounded-full animate__animated animate__backInDown profile-pix flex justify-center cursor-pointer"
                (click)="fileUpload.click()"
            >
            <!-- text-blue-600 dark:text-white -->
                <button 
                    class="py-2 px-3 edit-profile-pix text-transparent focus:outline-0 active:outline-0"
                >
                    <svg
                        class="h-4 w-4"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 512 512"
                    >
                        <path 
                            d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"
                        />
                    </svg>
                </button>
            </div>
        </div>
        
        <!-- Div for user's full name -->
        <div 
            class="px-6 py-3 mt-5 w-full flex flex-col border-b-2"
        >
            <div 
                class="flex flex-start justify-between w-full"
                *ngIf="!loading"
            >
                <div 
                    class="flex flex-col -space-y-3"
                >
                    <p 
                        class="text-gray-600 dark:text-gray-300"
                    >
                        Your name
                    </p>
                    <h3 
                        *ngIf="!isEdit"
                        class="text-gray-700 dark:text-gray-300 text-md flex items-start"
                    >
                        {{userDetails.name}}
                    </h3>

                    <!-- Form for new name-->
                    <form [formGroup]="editProfileForm" class="relative">
                        <input 
                            *ngIf="isEdit"
                            type="text" 
                            name="floating_email" 
                            class="block py-0.5 pt-1 px-0 w-full text-md text-gray-700 dark:text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                            value="{{userDetails.name}}" 
                            required 
                        />
                    </form>
                </div>

                <!-- Edit button -->
                <button 
                    *ngIf="!isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="editName(userDetails.name)"
                >
                    <svg
                        class="h-4 w-4 text-blue-700 dark:text-white"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 512 512"
                    >
                        <path 
                            d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"
                        />
                    </svg>
                </button>

                <!-- Save button -->
                <button 
                    *ngIf="isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="saveName(userDetails.name)"
                >
                <svg 
                    class="h-6 w-6 text-blue-700 dark:text-white"
                    fill="currentColor" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 448 512"
                >
                    <path 
                        d="M433.1 129.1l-83.9-83.9C342.3 38.32 327.1 32 316.1 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V163.9C448 152.9 441.7 137.7 433.1 129.1zM224 416c-35.34 0-64-28.66-64-64s28.66-64 64-64s64 28.66 64 64S259.3 416 224 416zM320 208C320 216.8 312.8 224 304 224h-224C71.16 224 64 216.8 64 208v-96C64 103.2 71.16 96 80 96h224C312.8 96 320 103.2 320 112V208z"
                    />
                </svg>
                </button>
            </div>

            <!-- Loader -->
            <div 
                class="animate-pulse"
                *ngIf="loading"
            >
                <div 
                    class="flex-1 space-y-3 py-1"
                >
                    <div 
                        class="h-2 bg-gray-700 rounded w-32"
                    ></div>
                    <div 
                        class="h-2 animate-pulse bg-gray-700 rounded w-52"
                    ></div>
                </div>
            </div>
        </div>

        <!-- Div for user's email -->
        <div 
            class="px-6 py-3 mt-2 w-full flex flex-col border-b-2" 
        >
            <div 
                class="flex flex-start justify-between w-full"
                *ngIf="!loading"
            >
                <div 
                    class="flex flex-col -space-y-3"
                >
                    <p 
                        class="text-gray-600 dark:text-gray-300"
                    >
                        Your email
                    </p>
                    <h3 
                        *ngIf="!isEdit"
                        class="text-gray-700 dark:text-gray-300 text-md flex items-start"
                    >
                        {{userDetails.email}}
                    </h3>

                    <!-- Form for new email-->
                    <form [formGroup]="editProfileForm" class="relative">
                        <input 
                            *ngIf="isEdit"
                            type="text" 
                            name="floating_email" 
                            class="block py-0.5 pt-1 px-0 w-full text-md text-gray-700 dark:text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                            value="{{userDetails.email}}" 
                            required 
                        />
                    </form>
                </div>

                <!-- Edit button -->
                <button 
                    *ngIf="!isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="editEmail(userDetails.email)"
                >
                    <svg
                        class="h-4 w-4 text-blue-700 dark:text-white"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 512 512"
                    >
                        <path 
                            d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"
                        />
                    </svg>
                </button>

                <!-- Save button -->
                <button 
                    *ngIf="isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="saveName(userDetails.email)"
                >
                    <svg 
                        class="h-6 w-6 text-blue-700 dark:text-white"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 448 512"
                    >
                        <path 
                            d="M433.1 129.1l-83.9-83.9C342.3 38.32 327.1 32 316.1 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V163.9C448 152.9 441.7 137.7 433.1 129.1zM224 416c-35.34 0-64-28.66-64-64s28.66-64 64-64s64 28.66 64 64S259.3 416 224 416zM320 208C320 216.8 312.8 224 304 224h-224C71.16 224 64 216.8 64 208v-96C64 103.2 71.16 96 80 96h224C312.8 96 320 103.2 320 112V208z"
                        />
                    </svg>
                </button>
            </div>
            
            <!-- Loader -->
            <div 
                class="animate-pulse"
                *ngIf="loading"
            >
                <div 
                    class="flex-1 space-y-3 py-1"
                >
                    <div 
                        class="h-2 bg-gray-700 rounded w-32"
                    ></div>
                    <div 
                        class="h-2 animate-pulse bg-gray-700 rounded w-52"
                    ></div>
                </div>
            </div>
        </div>

        <!-- Div for user's mobile number -->
        <div 
            class="px-6 py-3 mt-2 w-full flex flex-col border-b-2"
        >
            <div 
                class="flex flex-start justify-between w-full"
                *ngIf="!loading"
            >
                <div 
                    class="flex flex-col -space-y-3"
                >
                    <p 
                        class="text-gray-600 dark:text-gray-300"
                    >
                        Your phone number
                    </p>
                    <h3 
                        *ngIf="!isEdit"
                        class="text-gray-700 dark:text-gray-300 text-md flex items-start"
                    >
                        0{{userDetails.phoneNumber}}
                    </h3>

                    <!-- Form for new phone number-->
                    <form [formGroup]="editProfileForm" class="relative">
                        <input 
                            *ngIf="isEdit"
                            type="number" 
                            name="floating_email" 
                            class="block py-0.5 pt-1 px-0 w-full text-md text-gray-700 dark:text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                            value="{{userDetails.phoneNumber}}" 
                            required 
                        />
                    </form>
                </div>

                <!-- Edit button-->
                <button 
                    *ngIf="!isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="editPhoneNumber(userDetails.phoneNumber)"
                >
                    <svg
                        class="h-4 w-4 text-blue-700 dark:text-white"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 512 512"
                    >
                        <path 
                            d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"
                        />
                    </svg>
                </button>

                <!-- Save button -->
                <button 
                    *ngIf="isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="saveName(userDetails.phoneNumber)"
                >
                    <svg 
                        class="h-6 w-6 text-blue-700 dark:text-white"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 448 512"
                    >
                        <path 
                            d="M433.1 129.1l-83.9-83.9C342.3 38.32 327.1 32 316.1 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V163.9C448 152.9 441.7 137.7 433.1 129.1zM224 416c-35.34 0-64-28.66-64-64s28.66-64 64-64s64 28.66 64 64S259.3 416 224 416zM320 208C320 216.8 312.8 224 304 224h-224C71.16 224 64 216.8 64 208v-96C64 103.2 71.16 96 80 96h224C312.8 96 320 103.2 320 112V208z"
                        />
                    </svg>
                </button>
            </div>

            <!-- Loader -->
            <div 
                class="animate-pulse"
                *ngIf="loading"
            >
                <div 
                    class="flex-1 space-y-3 py-1"
                >
                    <div 
                        class="h-2 bg-gray-700 rounded w-32"
                    ></div>
                    <div 
                        class="h-2 animate-pulse bg-gray-700 rounded w-52"
                    ></div>
                </div>
            </div>
        </div>

        <!-- Div for user's username -->
        <div 
            class="px-6 py-3 mt-2 w-full flex flex-col border-b-2"
        >
            <div 
                class="flex flex-start justify-between w-full"
                *ngIf="!loading"
            >
                <div 
                    class="flex flex-col -space-y-3"
                >
                    <p 
                        class="text-gray-600 dark:text-gray-300"
                    >
                        Your Username
                    </p>
                    <h3 
                        *ngIf="!isEdit"
                        class="text-gray-700 dark:text-gray-300 text-md flex items-start"
                    >
                        {{userDetails.username}}
                    </h3>

                    <!-- Form for nww username-->
                    <form [formGroup]="editProfileForm" class="relative">
                        <input 
                            *ngIf="isEdit"
                            type="text" 
                            name="floating_email" 
                            class="block py-0.5 pt-1 px-0 w-full text-md text-gray-700 dark:text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                            value="{{userDetails.username}}" 
                            required 
                        />
                    </form>
                </div>

                <!-- Edit button -->
                <button 
                    *ngIf="!isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="editUsername(userDetails.username)"
                >
                    <svg
                        class="h-4 w-4 text-blue-700 dark:text-white"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 512 512"
                    >
                        <path 
                            d="M362.7 19.32C387.7-5.678 428.3-5.678 453.3 19.32L492.7 58.75C517.7 83.74 517.7 124.3 492.7 149.3L444.3 197.7L314.3 67.72L362.7 19.32zM421.7 220.3L188.5 453.4C178.1 463.8 165.2 471.5 151.1 475.6L30.77 511C22.35 513.5 13.24 511.2 7.03 504.1C.8198 498.8-1.502 489.7 .976 481.2L36.37 360.9C40.53 346.8 48.16 333.9 58.57 323.5L291.7 90.34L421.7 220.3z"
                        />
                    </svg>
                </button>

                <!-- Save button -->
                <button 
                    *ngIf="isEdit"
                    class="py-2 px-2 hover:bg-gray-200 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                    (click)="saveName(userDetails.username)"
                >
                    <svg 
                        class="h-6 w-6 text-blue-700 dark:text-white"
                        fill="currentColor" 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 448 512"
                    >
                        <path 
                            d="M433.1 129.1l-83.9-83.9C342.3 38.32 327.1 32 316.1 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V163.9C448 152.9 441.7 137.7 433.1 129.1zM224 416c-35.34 0-64-28.66-64-64s28.66-64 64-64s64 28.66 64 64S259.3 416 224 416zM320 208C320 216.8 312.8 224 304 224h-224C71.16 224 64 216.8 64 208v-96C64 103.2 71.16 96 80 96h224C312.8 96 320 103.2 320 112V208z"
                        />
                    </svg>
                </button>
            </div>
            
            <!-- Loader -->
            <div 
                class="animate-pulse"
                *ngIf="loading"
            >
                <div 
                    class="flex-1 space-y-3 py-1"
                >
                    <div 
                        class="h-2 bg-gray-700 rounded w-32"
                    ></div>
                    <div 
                        class="h-2 animate-pulse bg-gray-700 rounded w-52"
                    ></div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="border border-blue-300 shadow rounded-md p-4 max-w-sm w-full mx-auto">
        <div class="animate-pulse">
          <div class="flex-1 space-y-3 py-1">
            <div class="h-2 bg-gray-700 rounded w-32"></div>
            <div class="h-2 animate-pulse bg-gray-700 rounded w-52"></div>
          </div>
        </div>
    </div> -->
    
    <!-- <img src="../../assets/avatar-no-profile.svg" class="h-36 w-36" alt=""> -->
    
</div>
