::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
  
::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #fff;
    /* background-color: rgba(247, 250, 252, var(--bg-opacity)); */
}
  
::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #5476f3;
    /* background-color: rgba(237, 242, 247, var(--bg-opacity)); */
}
