/* ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
  
::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #fff;
}
  
::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #5476f3;
} */