<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>

<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>

<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>

<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>

<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>

<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>

<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>

<div class="animate-pulse flex space-x-4 p-4 border-b">
    <div class="rounded-full bg-gray-700 h-10 w-10"></div>
    <div class="flex-1 space-y-3 py-1">
      <div class="h-2 animate-pulse bg-gray-700 rounded"></div>
      <div class="h-2 bg-gray-700 rounded w-40 ml-2"></div>
    </div>
</div>