<div 
    class="container flex flex-col"
>
    <div class="fixed z-10">
        <div 
            class="py-2 px-2 flex flex-row items-center space-x-4 bg-gray-300 dark:bg-gray-700 w-full"
        >
            <!-- Button for back -->
            <button 
                class="py-2 px-2 hover:bg-gray-100 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
                (click)="goBackFromAddFriends()"
            >
                <svg 
                    class="h-4 w-4 text-blue-600 dark:text-white" 
                    fill="currentColor" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 320 512"
                >
                    <path 
                        d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
                    />
                </svg>
            </button>
            <span 
                class="text-sm text-capitalize text-gray-600 dark:text-gray-300"
            >
                Add Friends
            </span>
        </div>
    
        <div 
            class="relative p-3 bg-gray-500 dark:bg-gray-800 w-80"
        >
            <span 
                class="absolute inset-y-0 flex items-center"
            >
                <button 
                    type="button" 
                    class="inline-flex items-center justify-center rounded-full h-12 w-12 transition duration-500 ease-in-out hover:text-gray-500 focus:outline-none"
                >
                    <svg                        
                        xmlns="http://www.w3.org/2000/svg" 
                        fill="none" viewBox="0 0 24 24" 
                        stroke="currentColor" 
                        class="h-5 w-5 text-blue-600 dark:text-white"
                    >
                        <path 
                            stroke-linecap="round" 
                            stroke-linejoin="round" 
                            stroke-width="2" 
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                        />
                    </svg>     
                </button>
            </span>
            
            <!-- Input for filtering frineds -->
            <input 
                type="text" 
                placeholder="Search for friends..." 
                class="outline-none focus:outline-none placeholder-text-gray-400 dark:text-gray-300 bg-white dark:bg-blue-800 pl-12 py-2 w-full rounded-full"
                [(ngModel)]="allUsersFilter"
            >
        </div>
    </div>

    <!-- Container for all users -->
    <div 
        class="animate__animated animate__slideInLeft mt-28"
    >
        <table
            class="w-full"
        >
            <tr
                class="hover:bg-gray-300 dark:bg-gray-900 dark:hover:bg-gray-800 transition ease-in-out duration-500 cursor-pointer border-b"
                *ngFor="let index as i; let allUsers of Friends | allUsers:allUsersFilter"
            >
                <td 
                    class="pl-3"
                >
                    <img 
                        src="../../assets/avatar3.png" 
                        class="w-5 sm:w-10 h-5 sm:h-10 rounded-full"
                        alt=""
                    >
                </td>

                <td>
                    <div 
                    class="flex flex-col leading-tight"
                >
                    <div 
                        class="flex flex-col"
                    >
                        <!-- Friend Username -->
                        <span 
                            class="text-lg text-gray-700 dark:text-white mr-3 pt-4"
                        >
                            {{allUsers.username}}
                        </span>                    
                        <p 
                            class="text-xs text-gray-500 dark:text-gray-400"
                        >
                            {{allUsers.email}}
                        </p>
                    </div>
                </div>
                </td>

                <td>
                    <button 
                        class="px-1.5 py-2.5 bg-gray-100 rounded-sm dark:bg-blue-300 border-md"
                        (click)="addFriend(allUsers)"
                    >
                        <span
                            *ngIf="loading"
                        >
                            <svg 
                                role="status" 
                                class="inline h-5 w-5 text-blue-700 animate-spin" 
                                viewBox="0 0 100 101" 
                                fill="none" 
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path 
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" 
                                fill="#E5E7EB"
                                />
                                <path 
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" 
                                fill="currentColor"
                                />
                            </svg>
                        </span>

                        <span *ngIf="!loading">
                            <svg 
                                class="h-5 w-5 text-blue-700 dark:text-gray-400"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg" 
                                viewBox="0 0 640 512"
                            >
                                <path 
                                    d="M224 256c70.7 0 128-57.31 128-128S294.7 0 224 0C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3C0 496.5 15.52 512 34.66 512h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304zM616 200h-48v-48C568 138.8 557.3 128 544 128s-24 10.75-24 24v48h-48C458.8 200 448 210.8 448 224s10.75 24 24 24h48v48C520 309.3 530.8 320 544 320s24-10.75 24-24v-48h48C629.3 248 640 237.3 640 224S629.3 200 616 200z"
                                />
                            </svg>
                        </span>
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>