<section 
  class="h-screen bg-indigo-300"
>
  <div 
    class="container px-6 py-12 h-full w-4/5 mx-auto"
  >
    <div 
      class="flex flex-row justify-center items-center h-full space-x-4 text-gray-800"
    >
      <div 
        class="bg-white rounded-md p-8 shadow-md animate__animated animate__fadeInLeft animate__slower sm:w-screen md:w-8/12 lg:w-5/12 lg:ml-20"
      >
        <p 
          class="text-center text-4xl font-medium text-blue-900"
        >
          Sign Up
        </p>
        <form 
          class="pt-4" 
          [formGroup]="userForm"
        >  

          <!-- Full name input -->
          <div 
            class="mb-6"
          >
            <div 
              class="relative"
            >
              <div 
                class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
              >
                <svg 
                  class="w-6 h-6 text-gray-500 dark:text-gray-400" 
                  fill="currentColor" 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 384 512"
                >
                  <path 
                    d="M336 0h-288C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48v-416C384 21.49 362.5 0 336 0zM192 160c35.35 0 64 28.65 64 64s-28.65 64-64 64S128 259.3 128 224S156.7 160 192 160zM288 416H96c-8.836 0-16-7.164-16-16C80 355.8 115.8 320 160 320h64c44.18 0 80 35.82 80 80C304 408.8 296.8 416 288 416zM240 96h-96C135.2 96 128 88.84 128 80S135.2 64 144 64h96C248.8 64 256 71.16 256 80S248.8 96 240 96z"
                  />
                  
                </svg>
              </div>
              
              <input
                type="text"
                [style.dirty]="userForm.controls.fullName.touched"
                class=" form-control block w-full pl-12 p-2.5 px-4 py-2 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Full name" 
                name="fullName"
                formControlName="fullName"
              />
            </div>
          </div>

          <!-- Email input -->
          <div 
            class="mb-6"
          >
            <div 
              class="relative"
            >
              <div 
                class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
              >
                <svg 
                  class="w-7 h-7 text-gray-500 dark:text-gray-400" 
                  fill="currentColor" 
                  viewBox="0 0 20 20" 
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path 
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  />
                  <path 
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  />
                </svg>
              </div>
              <input
                type="text"
                class="form-control block w-full pl-12 p-2.5 px-4 py-2 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                placeholder="Email address" 
                name="email"
                formControlName="eMail"
              />
              </div>
            </div>

            <!-- Phone Number input -->
            <div 
              class="mb-6"
            >
              <div 
                class="relative"
              >
                <div 
                  class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
                >
                  <svg 
                    class="w-5 h-5 text-gray-500 dark:text-gray-400" 
                    fill="currentColor" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 512 512"
                  >
                    <path 
                      d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"
                    />
                  </svg>
                </div>
                <input
                  type="number"
                  class="form-control block w-full pl-12 p-2.5 px-4 py-2 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  placeholder="Phone number" 
                  name="mobileNumber"
                  formControlName="mobileNumber"
                />
              </div>
            </div>

            <!-- Username input -->
            <div 
              class="mb-6"
            >
              <div 
                class="relative"
              >
                <div 
                  class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
                >
                  <svg 
                    class="w-5 h-5 text-gray-500 dark:text-gray-400" 
                    fill="currentColor" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 448 512"
                  >
                    <path 
                      d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"
                    />
                  </svg>
                </div>
                <input
                  type="text"
                  class="form-control block w-full pl-12 p-2.5 px-4 py-2 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  placeholder="Username" 
                  name="userName"
                  formControlName="userName"
                />
              </div>
            </div>

            <!-- Password input -->
            <div 
              class="mb-6"
            >
              <div 
                class="relative"
              >
                <div 
                  class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
                >
                    <!-- <i class="fas fa-spinner fa-pulse"></i> -->
                  <svg 
                    class="w-6 h-6 text-gray-500 dark:text-gray-400" 
                    fill="currentColor" 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 448 512"
                  >
                    <path 
                      d="M80 192V144C80 64.47 144.5 0 224 0C303.5 0 368 64.47 368 144V192H384C419.3 192 448 220.7 448 256V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V256C0 220.7 28.65 192 64 192H80zM144 192H304V144C304 99.82 268.2 64 224 64C179.8 64 144 99.82 144 144V192z"
                    />
                  </svg>
                </div>
                <input
                  type="password"
                  class="form-control block w-full pl-12 p-2.5 px-4 py-2 text-lg font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  placeholder="Password"
                  name="password"
                  formControlName="password"
                />
              </div>
            </div>
    
            <!-- Submit button -->
            <button
              [disabled]="userForm.invalid || loading"
              type="submit"
              class="inline-block px-3 py-3 bg-blue-700 text-white font-medium text-sm leading-snug rounded-lg shadow-md hover:bg-blue-900 hover:shadow-lg focus:bg-blue-900 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-900 active:shadow-lg transition duration-150 ease-in-out w-full sign-up-btn"
              data-mdb-ripple="true"
              data-mdb-ripple-color="light" 
              type="submit"
              (click)="submitForm()"
            >
              <span 
                class="capitalize" 
                *ngIf="loading"
              >
                <svg 
                  role="status" 
                  class="inline mr-3 h-5 w-5 text-white animate-spin" 
                  viewBox="0 0 100 101" 
                  fill="none" 
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path 
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"
                  />
                  <path 
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" 
                    fill="currentColor"
                  />
                </svg>
                  Loading...
              </span>
              
              <span 
                class="uppercase" 
                *ngIf="!loading"
              >
                Sign up
              </span>
            </button>
  
            <p 
              class="text-center pt-4 pb-0"
            >
              <span>
                Already an account?
              </span>
              
              <span>
                <a 
                  routerLink="/login" 
                  class="text-blue-500 focus:text-blue-900 active:text-blue-900 duration-200 transition ease-in-out hover:text-blue-900"
                > 
                  Login
                </a>
              </span>
            </p>

            <!-- Registration Failed alert -->
            <div 
              *ngIf="showExist && !showSuccess" 
              id="msgAlert" 
              class="flex p-4 mb-4 bg-red-100 rounded-lg dark:bg-red-200 animate__animated animate__fadeIn animate__slower" 
              role="alert"
            >
              <svg 
                class="flex-shrink-0 w-5 h-5 text-red-700 dark:text-red-800" fill="currentColor" 
                viewBox="0 0 20 20" 
                xmlns="http://www.w3.org/2000/svg"
              >
                <path 
                  fill-rule="evenodd" 
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" 
                  clip-rule="evenodd"
                />
              </svg>
              
              <div 
                class="ml-3 text-sm font-medium text-red-700 dark:text-red-800"
              >
                {{userExist}}
              </div>
              
              <button 
                type="button" 
                class="ml-auto -mx-1.5 -my-1.5 bg-red-100 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex h-8 w-8 dark:bg-red-200 dark:text-red-600 dark:hover:bg-red-300" 
                data-collapse-toggle="msgAlert" 
                aria-label="Close"
              >
                <span 
                  class="sr-only"
                >
                  Close
                </span>
                <svg 
                  class="w-5 h-5" 
                  fill="currentColor" 
                  viewBox="0 0 24 24" 
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path 
                    fill-rule="evenodd" 
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" 
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>

            <!-- Registration Successful alert -->
            <div
              *ngIf="showSuccess && !showExist"
              id="alertSuccess" 
              class="flex p-4 mb-4 bg-green-100 rounded-lg dark:bg-green-200 animate__animated animate__fadeIn animate__slower" 
              role="alert"
            >
              <svg 
                class="flex-shrink-0 w-5 h-5 text-green-700 dark:text-green-800"
                fill="currentColor" 
                viewBox="0 0 20 20" 
                xmlns="http://www.w3.org/2000/svg"
              >
                <path 
                  fill-rule="evenodd" 
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" 
                  clip-rule="evenodd"
                />
              </svg>
              <div 
                class="ml-3 text-sm font-medium text-green-700 dark:text-green-800"
              >
                {{success}} 
                <a 
                  routerLink="/login" 
                  class="font-semibold underline hover:text-green-800 dark:hover:text-green-900"
                >
                    Login
                </a>, To continue.
              </div>
              <button 
                type="button" 
                class="ml-auto -mx-1.5 -my-1.5 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex h-8 w-8 dark:bg-green-200 dark:text-green-600 dark:hover:bg-green-300"
                data-dismiss-target="#alertSuccess" 
                aria-label="Close"
              >
                <span 
                  class="sr-only"
                >
                  Close
                </span>
                <svg 
                  class="w-5 h-5" 
                  fill="currentColor" 
                  viewBox="0 0 20 20" 
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path 
                    fill-rule="evenodd" 
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" 
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
        </form>
      </div>

      <div 
        class="hidden md:block mb-12 md:w-8/12 md:mb-0 lg:w-6/12"
      >
        <img
          src="../../assets/undraw_setup_re_y9w8.svg"
          class="w-full animate__animated animate__fadeIn animate__slower animate__delay-2s"
          alt="Phone image"
        />
      </div>
    </div>
  </div>
</section>