<div class="container mt-24" align="center">
    <button 
    class="bg-yellow-500 text-white py-2 rounded-sm px-3 shadow-sm mt-3 hover:bg-white hover:text-yellow-500 hover:transition hover:ease-in duration-300" 
    data-mdb-ripple="true"
    data-mdb-ripple-color="light"
    (click)="getStarted()">Get started --></button>
    
    <button 
    class="bg-white text-yellow-500 py-2 rounded-sm px-3 shadow-sm mt-3 ml-2 hover:bg-yellow-500 hover:text-white hover:transition hover:ease-in duration-300" 
    data-mdb-ripple="true"
    data-mdb-ripple-color="light"
    (click)="goToLogin()">Log In</button>
</div>