<div 
        class="py-2 px-2 flex flex-row items-center space-x-4 bg-gray-300 dark:bg-gray-700 w-full"
    >
        <!-- Button for back -->
        <button 
            class="py-2 px-2 hover:bg-gray-100 dark:hover:bg-blue-800 rounded-md transition duration-500 ease-in-out"
            (click)="goBackFromSettings()"
        >
            <svg 
                class="h-4 w-4 text-blue-600 dark:text-white" 
                fill="currentColor" 
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 320 512"
            >
                <path 
                    d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"
                />
            </svg>
        </button>
        <span 
            class="text-sm text-capitalize text-gray-600 dark:text-gray-300"
        >
            Add Friends
        </span>
    </div>